.nav {
  background: linear-gradient(to right, #fd7f45, #1d527c);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.icon {
  font-size: 1.5rem;
}

.logo {
  color: white;
  padding: 0 10px;
  letter-spacing: 2px;
  font-size: 1rem;
  text-decoration: none;
}